if TARGET_IMX8MN_IWG37M

config SYS_BOARD
	default "imx8mn_iwg37m"

config SYS_VENDOR
	default "freescale"

config SYS_CONFIG_NAME
	default "imx8mn_iwg37m"

config SDRAM_SIZE_1GB
        bool "Support 1GB LPDDR4"
        help
         Enable support for IWG37M 1GB LPDDR4 platform

config SDRAM_SIZE_2GB
        bool "Support 2GB LPDDR4"
        help
         Enable support for IWG37M 2GB LPDDR4 platform

config TARGET_IMX8MN_IWG37M_UUU 
        bool "imx8mn LPDDR4 IWG37M board UUU"
        help
         Enable UUU tool Support for IWG37M platform

config IMX_CONFIG
	default "board/freescale/imx8mn_iwg37m/imximage-8mn-ddr4.cfg"

source "board/freescale/common/Kconfig"

endif
